.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
/android/app/src/main/gen/com/example/example/BuildConfig.java
/android/app/src/main/gen/com/example/example/Manifest.java
/android/app/src/main/gen/com/example/example/R.java
/ios/Flutter/flutter_export_environment.sh
