name: intro_views_flutter
description: A Flutter package for simple material design app intro screens with some cool animations.
version: 3.1.1
homepage: https://github.com/aagarwal1012/IntroViews-Flutter

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  pedantic: ^1.11.0
